* {
    box-sizing: border-box;
    /* direction: rtl; */
    padding: 0;
    margin: 0;

}

.alert_modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999999999;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    /* font-weight: 900; */
}

.alert_container {
    width: 480px !important;
    background-color: white;
    border-radius: 10px;
    animation: 0.5s 1 alert_container_animation;
    -webkit-animation: 35s 1 alert_container_animation;
}

@media (min-width: 600px) {
    .alert_container {
        width: 350px;
    }
}

@keyframes alert_container_animation {
    0% {
        transform: scale(0.5);
    }

    1% {
        transform: scale(1.1);
    }

    2% {
        transform: scale(1);
    }
}

@-webkit-keyframes alert_container_animation {
    0% {
        transform: scale(0.5);
    }

    1% {
        transform: scale(1.1);
    }

    2% {
        transform: scale(1);
    }
}

.alert_heading {
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

.alert_details {
    padding: 18px;
    text-align: center;
}

.alert_details h2 {
    color: rgb(186 84 84) !important;
    font-size: 22px;
}

.alert_details p {
    margin-bottom: 5px;
    font-size: 16px;
    color: #2f2f2f;
    line-height: 1.5em;
    margin-top: 5px;
}

.alert_footer {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alert_footer span {
    color: #979797;
    cursor: pointer;
}

.alert_footer span:hover {
    color: #353535;
}

.alert_footer {
    gap: 5px;
}

.alert_footer .accept {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-decoration: none;
    opacity: 1;
    padding: 9px 10px;
    flex: 100%;
    cursor: pointer;
    border-radius: 4px;
    background: #2c8fd1;
    color: #ffffff;
    text-shadow: none !important;

}

.alert_footer .close {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-decoration: none;
    opacity: 1; 
    line-height: inherit; 
    padding: 9px 10px;
    flex: 100%;
    cursor: pointer;
    border-radius: 4px;
    background: #da2e40;
    color: #ffffff;
    text-shadow: none !important;
}

.alert_footer .accept:hover,
.alert_footer .close:hover {
    /* transform: scale(1.1);
    transition: all, 0.4s; */
    transform: translateY(-3px);
    transition: all .3s cubic-bezier(.22, .61, .36, 1);
    opacity: 1 !important;
    color: white;
}